.article-item {
  margin-bottom: 15px;
}
.article-item .article-title,
.article-item .article-title a {
  color: inherit;
  margin: 0;
}
.article-item .article-meta,
.article-item .article-meta a {
  color: #999;
  font-size: .85em;
}
.article-item .article-meta a {
  text-decoration: underline;
}
.article-item .article-thumb {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
}
.article-item .article-text {
  margin-top: 7px;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.navbar-style{
  background-color: #eff0f2;
  border: none;
}
.box_padding{
  padding: 30px 0;
  min-height: 100vh;
}
.article_index_title a{
  color: inherit;
  font-size: 20px;
  font-family: "Montserrat";
}
.font-text_h2 {
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.902;
  z-index: 57;
}
.customer_main_page {
  height: 400px;
}
.background_div{
  background-color: rgb( 239, 240, 242 );
  opacity: 0.988;
}
.about_content{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.reviews{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.reviews_box{
  background-color: #ffffff6e;
  padding: 10px;
  width: 30%;
  min-height: 350px;
}
.reviews_box_header {
  display: flex;
}
.header_user{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_img {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
}
.reviews_box_content{
  margin-top: 40px;
}
